<table cellpadding="0" cellspacing="0" border="0" class="table__StyledTable-sc-1avdl6r-0 gZiJTA" style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;">
  <tbody>
    <tr>
      <td>
        <table cellpadding="0" cellspacing="0" border="0" class="table__StyledTable-sc-1avdl6r-0 gZiJTA" style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;">
          <tbody>
            <tr>
              <td style="vertical-align: top;">
                <table cellpadding="0" cellspacing="0" border="0" class="table__StyledTable-sc-1avdl6r-0 gZiJTA" style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;">
                  <tbody>
                    <tr>
                      <td class="template1__ImageContainer-sc-nmby7a-0 guKKwa" style="text-align: center;">
                        <img src="https://avatars.githubusercontent.com/u/179034459?s=200&v=4" role="presentation" width="128" class="image__StyledImage-sc-hupvqm-0 kYkhsl" style="display: block; border-radius: 20px;">
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
              <td width="46">
                <div></div>
              </td>
              <td style="padding: 0px; vertical-align: middle;">
                <h2 color="#000000" class="name__NameContainer-sc-1m457h3-0 gsCpOr" style="margin: 0px; font-size: 18px; color: rgb(0, 0, 0); font-weight: 600;">
                  <span>{name}</span>
                  <span>&nbsp;</span>
                  <span></span>
                </h2>
                <p color="#000000" font-size="medium" class="job-title__Container-sc-1hmtp73-0 hWtcow" style="margin: 0px; color: rgb(0, 0, 0); font-size: 14px; line-height: 22px;">
                  <span>{job}</span>
                </p>
                <table cellpadding="0" cellspacing="0" border="0" class="table__StyledTable-sc-1avdl6r-0 gZiJTA" style="width: 100%; vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;">
                  <tbody>
                    <tr>
                      <td height="30"></td>
                    </tr>
                      <td color="#8a4dfd" direction="horizontal" width="auto" height="1" class="color-divider__Divider-sc-1h38qjv-0 icFEOy" style="width: 100%; border-bottom: 1px solid rgb(138, 77, 253); border-left: none; display: block;"></td>
                    <tr>
                      <td height="30"></td>
                    </tr>
                  </tbody>
                </table>
                <table cellpadding="0" cellspacing="0" border="0" class="table__StyledTable-sc-1avdl6r-0 gZiJTA" style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;">
                  <tbody>
                    <tr height="25" style="vertical-align: middle;">
                      <td width="30" style="vertical-align: middle;">
                        <table cellpadding="0" cellspacing="0" border="0" class="table__StyledTable-sc-1avdl6r-0 gZiJTA" style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;">
                          <tbody>
                            <tr>
                              <td style="vertical-align: bottom;">
                                <span color="#8a4dfd" width="11" class="contact-info__IconWrapper-sc-mmkjr6-1 brbfIW" style="display: inline-block;">
                                  <img src="../assets/mail.svg" alt="" width="13" class="contact-info__ContactLabelIcon-sc-mmkjr6-0 kInyhW" style="display: block;">
                                </span>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                      <td style="padding: 0px;">
                        <a href="mailto:{email}" color="#000000" class="contact-info__ExternalLink-sc-mmkjr6-2 dExxuU" style="text-decoration: none; color: rgb(0, 0, 0); font-size: 12px;">
                          <span>{email}</span>
                        </a>
                      </td>
                    </tr>
                    <tr height="25" style="vertical-align: middle;">
                      <td width="30" style="vertical-align: middle;">
                        <table cellpadding="0" cellspacing="0" border="0" class="table__StyledTable-sc-1avdl6r-0 gZiJTA" style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;">
                          <tbody>
                            <tr>
                              <td style="vertical-align: bottom;">
                                <span color="#8a4dfd" width="11" class="contact-info__IconWrapper-sc-mmkjr6-1 brbfIW" style="display: inline-block;">
                                  <img src="../assets/link.svg" color="#FD332E" alt="" width="13" class="contact-info__ContactLabelIcon-sc-mmkjr6-0 kInyhW" style="display: block;">
                                </span>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                      <td style="padding: 0px;">
                        <a href="https://groupe-speed.cloud" color="#000000" class="contact-info__ExternalLink-sc-mmkjr6-2 dExxuU" style="text-decoration: none; color: rgb(0, 0, 0); font-size: 12px;">
                          <span>groupe-speed.cloud</span>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <table cellpadding="0" cellspacing="0" border="0" class="table__StyledTable-sc-1avdl6r-0 gZiJTA" style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Tillium Web;">
                  <tbody>
                    <tr>
                      <td height="30"></td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
<script src="/js/params.min.js"></script>
