<table cellpadding="0" cellspacing="0" border="0" style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: 'Titillium Web';">
  <tbody>
    <tr>
      <td>
        <table cellpadding="0" cellspacing="0" border="0" style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: 'Titillium Web';">
          <tbody>
            <tr>
              <td style="vertical-align: top;">
                <table cellpadding="0" cellspacing="0" border="0" style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: 'Titillium Web';">
                  <tbody>
                    <tr>
                      <td style="text-align: center;">
                        <img src="https://signatures.groupe-speed.cloud/assets/images/cloudy.png" role="presentation" width="128" style="display: block; border-radius: 20px;">
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
              <td width="46">
                <div></div>
              </td>
              <td style="padding: 0px; vertical-align: middle;">
                <h2 color="#000000" style="margin: 0px; font-size: 18px; color: rgb(0, 0, 0); font-weight: 600;">
                  <span>{name}</span>
                  <span>&nbsp;</span>
                  <span></span>
                </h2>
                <p color="#000000" font-size="medium" style="margin: 0px; color: rgb(0, 0, 0); font-size: 14px; line-height: 22px;">
                  <span>{job}</span>
                </p>
                <table cellpadding="0" cellspacing="0" border="0" style="width: 100%; vertical-align: -webkit-baseline-middle; font-size: medium; font-family: 'Titillium Web';">
                  <tbody>
                    <tr>
                      <td height="30"></td>
                    </tr>
                      <td color="#8a4dfd" direction="horizontal" width="auto" height="1" style="width: 100%; border-bottom: 1px solid rgb(138, 77, 253); border-left: none; display: block;"></td>
                    <tr>
                      <td height="30"></td>
                    </tr>
                  </tbody>
                </table>
                <table cellpadding="0" cellspacing="0" border="0" style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: 'Titillium Web';">
                  <tbody>
                    <tr height="25" style="vertical-align: middle;">
                      <td width="30" style="vertical-align: middle;">
                        <table cellpadding="0" cellspacing="0" border="0" style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: 'Titillium Web';">
                          <tbody>
                            <tr>
                              <td style="vertical-align: bottom;">
                                <span style="display: inline-block; background-color: #8a4dfd;">
                                  <img src="https://signatures.groupe-speed.cloud/assets/images/email.webp" width="18" style="display: block;">
                                </span>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                      <td style="padding: 0px;">
                        <a href="mailto:{email}" color="#000000" style="text-decoration: none; color: rgb(0, 0, 0); font-size: 12px;">
                          <span>{email}</span>
                        </a>
                      </td>
                    </tr>
                    <tr height="25" style="vertical-align: middle;">
                      <td width="30" style="vertical-align: middle;">
                        <table cellpadding="0" cellspacing="0" border="0" style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: 'Titillium Web';">
                          <tbody>
                            <tr>
                              <td style="vertical-align: bottom;">
                                <span style="display: inline-block; background-color: #8a4dfd;">
                                  <img src="https://signatures.groupe-speed.cloud/assets/images/link.webp" color="#FD332E" width="18" style="display: block;">
                                </span>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                      <td style="padding: 0px;">
                        <a href="https://groupe-speed.cloud" color="#000000" style="text-decoration: none; color: rgb(0, 0, 0); font-size: 12px;">
                          <span>groupe-speed.cloud</span>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                  <tr height="25" style="vertical-align: middle;">
                    <td width="30" style="vertical-align: middle;">
                      <table cellpadding="0" cellspacing="0" border="0" style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: 'Titillium Web';">
                        <tbody>
                          <tr>
                            <td style="vertical-align: bottom;">
                              <span style="display: inline-block; background-color: #8a4dfd;">
                                <img src="https://signatures.groupe-speed.cloud/assets/images/address.webp" width="18" style="display: block;">
                              </span>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                    <td style="padding: 0px;">
                      <a href="https://maps.app.goo.gl/DG8J3497zwgSWPuC6" color="#000000" style="text-decoration: none; color: rgb(0, 0, 0); font-size: 12px;">
                        <span>10 quai du Moulin, appartement 44, 08600 Givet (France)</span>
                      </a>
                    </td>
                  </tr>
                </table>
                <table cellpadding="0" cellspacing="0" border="0" style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: 'Titillium Web';">
                  <tbody>
                    <tr>
                      <td height="30"></td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
<script src="/assets/js/params.min.js"></script>